
    <div class="col-12">
      <form [formGroup]="myForm" class="form-group d-flex justify-content-between">
        <input
          type="text"
          class="form-control mr-3"
          placeholder="Имя"
          formControlName="name"
        />
        <input
          type="text"
          class="form-control mr-3"
          placeholder="Фамилия"
          formControlName="surname"
        />
        <input
          type="tel"
          class="form-control mr-3"
          placeholder="Номер телефона"
          prefix="+7"
          mask="(000)000-00-00"
          formControlName="phone"
        />
        <select class="custom-select btn-sm" formControlName="type">
          <option [ngValue]="myWorkerType.programmer" selected>Программист</option>
          <option [ngValue]="myWorkerType.designer">Дизайнер</option>
          <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
          <option [ngValue]="myWorkerType.manager">Менеджер</option>
        </select>
      </form>
      <div class="col-12 mt-1">
          <button class="btn btn-outline-primary btn-sm mb-4" (click)="onAddWorker()">Добавить</button>
        </div>
    </div>
    